.info {
  height: 720px;
  padding-left: 53.6%;
  padding-top: 160px;
  padding-right: 8%;
  border-radius: 24px;
  background-image: url('../../assets/imgs/investment-property/investment-property.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
@media (max-width: 1440px) {
  .info {
    box-sizing: border-box;
    height: 600px;
    margin-top: 120px !important;
    margin-bottom: 90px !important;
    padding-top: 151px;
    padding-left: 55%;
    background-size: 100% 100%;
  }
}
@media (max-width: 1280px) {
  .info {
    margin-top: 80px !important;
    margin-bottom: 50px !important;
    padding-top: 120px;
    height: 500px;
  }
}
@media (max-width: 960px) {
  .info {
    height: 400px;
    padding-right: 5%;
    padding-top: 100px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .info {
    margin-bottom: 30px !important;
    height: 460px;
    background-image: url(../../assets//imgs/investment-property/investment-property-mobile.png);
    padding-top: 150px;
    padding-left: 9%;
  }
}
.info__title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}
@media (max-width: 1440px) {
  .info__title {
    font-size: 60px;
  }
}
@media (max-width: 1280px) {
  .info__title {
    font-size: 54px;
  }
}
@media (max-width: 960px) {
  .info__title {
    margin-bottom: 15px;
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .info__title {
    margin-bottom: 20px;
    font-size: 36px;
  }
}
.info__text {
  margin-bottom: 60px;
  color: white;
}
@media (max-width: 1440px) {
  .info__text {
    font-size: 18px;
    margin-bottom: 64px;
  }
}
@media (max-width: 1280px) {
  .info__text {
    font-size: 16px;
    margin-bottom: 54px;
  }
}
@media (max-width: 960px) {
  .info__text {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 140%;
  }
}
@media (max-width: 768px) {
  .info__text {
    width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 25.6px;
  }
}
.info__link {
  padding: 20px 40px;
  border-radius: 8px;
  background: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #2D2A26;
}
@media (max-width: 1280px) {
  .info__link {
    font-size: 16px;
    padding: 10px 30px;
  }
}
@media (max-width: 960px) {
  .info__link {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .info__link {
    padding: 13px 24px;
    font-size: 16px;
    line-height: 160%;
  }
}
