@import url('heder/header.css');
@import url(../font/stylesheet.css);
@import url(mainSection/mainSection.css);
@import url(sliderSection/sliderSection.css);
@import url(card/card.css);
@import url(titleLink/titleLink.css);
@import url(video/video.css);
@import url('infoSection/infoSection.css');
@import url('searchSection/searchSection.css');
@import url(footer/footer.css);
@import url(reset.css);
@font-face {
  font-family: Grapfik;
  src: url(../font/Graphik-Medium.ttf);
}
body {
  font-family: Grapfik, Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.container {
  max-width: 91.6%;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    max-width: 94.11%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 92%;
  }
}
.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
}
@media (max-width: 1440px) {
  .text {
    font-size: 18px;
    line-height: 160%;
  }
}
@media (max-width: 1280px) {
  .text {
    font-size: 16px;
    line-height: 140%;
  }
}
@media (max-width: 960px) {
  .text {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 160%;
  }
}
.height24 {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .height24 {
    margin-bottom: 20px;
  }
}
.disply-none {
  display: none;
}
.height140 {
  height: 140px;
}
@media (max-width: 1440px) {
  .height140 {
    height: 0;
  }
}
.height350 {
  height: 338px;
}
