.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__title {
  width: 33.5%;
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  color: #2D2A26;
}
@media (max-width: 1440px) {
  .search__title {
    font-size: 36px;
  }
}
@media (max-width: 1280px) {
  .search__title {
    font-size: 30px;
  }
}
@media (max-width: 960px) {
  .search__title {
    font-size: 24px;
  }
}
.search__item {
  display: flex;
  align-items: center;
  width: 20.6%;
  margin-right: 2.6%;
}
@media (max-width: 1280px) {
  .search__item {
    justify-content: left;
  }
}
.search__item:last-of-type {
  margin-right: 0;
}
.search__button {
  width: 100px;
  height: 100px;
  margin-right: 8.5%;
  border-radius: 24px;
  background: #826EE8;
}
@media (max-width: 1440px) {
  .search__button {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1280px) {
  .search__button {
    width: 60px;
    height: 60px;
    border-radius: 14px;
    margin-right: 5%;
  }
}
@media (max-width: 960px) {
  .search__button {
    width: 50px;
    height: 50px;
    border-radius: 12px;
  }
}
.search__button--yellow {
  background: #FF9838;
}
.search__button--grey {
  background: #ABB9C3;
}
@media (max-width: 1280px) {
  .search__buttim-img {
    width: 18px;
    height: 18px;
  }
}
.search__text {
  max-width: 228px;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #2D2A26;
}
@media (max-width: 1440px) {
  .search__text {
    width: 154px;
    font-size: 24px;
  }
}
@media (max-width: 1280px) {
  .search__text {
    width: 100px;
    font-size: 20px;
  }
}
@media (max-width: 960px) {
  .search__text {
    font-size: 14px;
  }
}
.seaarch--pt {
  padding-top: 120px;
}
@media (max-width: 1440px) {
  .seaarch--pt {
    padding-top: 0px;
  }
}
@media (max-width: 1280px) {
  .seaarch--pt {
    padding-top: 60px;
  }
}
@media (max-width: 960px) {
  .seaarch--pt {
    padding-top: 40px;
  }
}
.search--pb {
  padding-bottom: 120px;
}
@media (max-width: 1440px) {
  .search--pb {
    padding-bottom: 90px;
  }
}
@media (max-width: 1280px) {
  .search--pb {
    padding-bottom: 60px;
  }
}
@media (max-width: 960px) {
  .search--pb {
    padding-bottom: 40px;
  }
}
